.left
  .topcurve
  .Pwrbttns
    #Pwr.Pwr(title="Power")
      .bttn
    .Pwrlights
      .pwr_low
      .pwr_med
      .pwr_hgh
  .Display
    .screen
    .bttnbars
      .displaybttn
      .speakerbars
        .spkrbrs
        .spkrbrs
  .ControlBttns
    .leftbttn
    .center
      .startselect
        .bttn.start
        .bttn.select
      .pokeid
        .id #151
    .rightdpad
      .dpad
