.right
  .topcurve
  .infoDisplay
  .keyboard
    //- generate 10 keys for keyboard
    - for(var i = 10; i > 0; i--)
      .key
  .ctrlbttns
    .topbttns
      .dots
        .dot
        .dot
      .startselect
        .bttn.start
        .bttn.select
    .centerbttns
      .dirbttns
        .lft.bttn
        .rgt.bttn
      .cbttn
    .bottombttns
      .bttn
      .bttn
